.block_container {
  width: 32px;
  height: 32px;
  font-size: 8px;
}

.ocean {
  background-color: cornflowerblue;
}

.land {
  background-color: darkseagreen;
}

.mountain {
  background-color: brown;
}

.leftBorder {
  box-sizing: border-box;
  border-left: 2px solid;
}

.rightBorder {
  box-sizing: border-box;
  border-right: 2px solid;
}

.bottomBorder {
  box-sizing: border-box;
  border-bottom: 2px solid;
}

.topBorder {
  box-sizing: border-box;
  border-top: 2px solid;
}

.China {
  border-color: red;
}

.India {
  border-color: orange;
}

.Bangladesh {
  border-color: green;
}

.Nepal {
  border-color: black;
}

.Mayanmar {
  border-color: blue;
}

.SriLanka {
  border-color: purple;
}

.selected_region {
  box-sizing: border-box;
  background-color: darkred;
}

.regionalLeftBorder {
  box-sizing: border-box;
  border-left: 1px dashed gray;
}

.regionalRightBorder {
  box-sizing: border-box;
  border-right: 1px dashed gray;
}

.regionalTopBorder {
  box-sizing: border-box;
  border-top: 1px dashed gray;
}

.regionalBottomBorder {
  box-sizing: border-box;
  border-bottom: 1px dashed gray;
}
